.navbar_wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-bottom: 35px;
  gap: 24px;
}

.navbar_search {
  display: flex;
  flex-direction: row;
  max-width: 458px;
  padding: 8px 8px 8px 16px;
  height: 52px;
  background-color: #1c1c24;
  border-radius: 100px;
}

.search {
  display: flex;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: white;
  background-color: transparent;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.search::placeholder {
  color: #4b5264;
}

.img_wrapper {
  width: 72px;
  height: 100%;
  border-radius: 20px;
  background-color: #4acd8d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search_image {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

.profile_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 8px;
}

.address_bg{
    background-color: #1dc071;
}

.not_address_bg{
    background-color: #8c6dfd;
}

.profile_image {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  background-color: #2c2f32;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.thirdweb_image {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

@media (min-width: 768px) {
  .navbar_wrapper {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .navbar_search {
    flex: 1 1 0%;
  }
}

@media (max-width: 640px) {
   .profile_wrapper{
    display: none;
  }
  .small_screen_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .logo_wrapper {
    width: 40px;
    height: 40px;
    background-color: #2c2f32;
    display: flex;
    cursor: pointer;
  }

  .image_logo {
    width: 60%;
    height: 60%;
    object-fit: contain;
  }

  .menu_image {
    width: 34px;
    height: 34px;
    object-fit: contain;
    cursor: pointer;
  }

  .navbar_items {
    position: absolute;
    top: 60px;
    right: 0px;
    left: 0px;
    background-color: #1c1c24;
    z-index: 40px;
    box-shadow: 10px 10px 20px rgba(2, 2, 2, 0.25);
    padding-top: 16px;
    padding-bottom: 16px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 700ms;
  }

  .toggle_false {
    transform: translateY(-100vh);
  }

  .toggle_true {
    transform: translateY(0px);
  }

  .navbar_items ul {
    margin-bottom: 16px;
  }

  .menu_li {
    display: flex;
    padding: 16px;
  }
  .active_background {
    background-color: #3a3a43;
  }

  .menu_image {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  .grayscale_0 {
    filter: grayscale(0%);
  }

  .grayscale {
    filter: grayscale(100%);
  }

  .menu_p {
    margin-left: 20px;
    font-family: "epilogue", sans-serif;
    font-weight: 600;
    font-size: 14px;
  }

  .active_bg {
    color: #1dc071;
  }

  .not_active_bg {
    color: #808191;
  }

  .btn_wrapper {
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (min-width: 640px) {
  .small_screen_wrapper{
    display: none;
  }
 
}
