.sidebar_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    height: 93vh;
    top: 20px;

}

.icon{
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.iconBg{
    background-color: #2c2f32;

}

.icon_disabled{
    cursor: pointer;
}

.logo_not_active{
    width: 50%;
    height: 50%;
}
.logo_active{
    width: 50%;
    height: 50%;
}
.grayscale{
    filter: grayscale(100%);
}

.sidebar_group{
   
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c24;
    border-radius: 20px;
    width: 76px;
    padding-top: 16px;
    padding-bottom: 20px;
    margin-top: 48px;
}

.sidebar_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3;
}